    <div class="website_wrapper">
        <div class="hdr_wrapper">
            <div class="hdr_continer">
                <ul class="top-menu">
                    <li><a ng-tap="$navigate.go('/home')" class="home"></a></li>
                    <li><a ng-tap="$navigate.go('/myprofile')">Profile</a>  </li>
                    <li><a ng-tap="$navigate.go('/wraskit')"> WRASK IT </a> </li>
                    <li><a ng-tap="$navigate.go('/connects')">Connects </a> </li>
                    <li><a ng-tap="$navigate.go('/search')">Search</a> </li>
                </ul>
            </div>
        </div>

        <!-- loading  -->
        <div class="popup_main_new" ng-show="loading">
            <div class="popup-overlay"></div>
            <div class="cont_wrapper">
                <div class="cont_container">
                    <!-- wrask interest pop up -->
                    <div class="wrask_it_popup">
                        <div class="loading-msg"> Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- loading closes -->


        <div class="cont_wrapper">
            <div class="cont_container">
                <div class="form_box "> 
                    <div class="form_row"></div>
                    <form class="register_form " enctype="multipart/form-data" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                        <fieldset> 
                            
                            <div class="form_field_wrapper">
                                <input type="text" name="firstname" ng-model="firstname" class="field_log" placeholder="First Name" required>
                                <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="form_error">First Name is required</p>
                            </div>

                            <div class="form_field_wrapper">
                                <input type="text" name="lastname" ng-model="lastname" class="field_log" placeholder="Last Name" required>
                            </div>

                            <div class="form_field_wrapper">
                                <input type="text" placeholder="email" name="email" ng-model="email" class="field_log" placeholder="Email" required>
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="form_error">Invalid email ID</p>
                            </div>

                            <div class="form_field_wrapper">
                                <input type="text" name="love" ng-model="love" class="field_log" placeholder="I love" required>
                            </div>

                            <div class="form_field_wrapper">
                                <input type="text" name="hate" ng-model="hate" class="field_log" placeholder="I hate" required>
                            </div>

                            <div class="form_field_wrapper">
                                <input type="text" name="city" ng-model="city" class="field_log" placeholder="City" required>
                            </div>

                            <div class="form_field_wrapper">
                                <input type="text" name="state" ng-model="state" class="field_log" placeholder="state" required>
                            </div>

                            <!-- <div class="form_field_wrapper">
                                <input type="file" placeholder="Select Profile Photo" name="pro_pic" ng-model="pro_pic" class="field_log">
                            </div> -->
                            
                            
                            <div class="form_field_wrapper">
                            <button class="sign_in" type="submit"> Update Profile <a class="btn_arrow"><img src="img/btn-right.png"></a>
                            </button>
                            </div>
                            
                        </fieldset>
                    </form>
                  
              </div>
            </div>
      </div>
      <div class="ftr_wrapper ">
            <div class="ftr_continer">
                <a href="#" class="ftr_links"><span><img src="img/ftr_icon1.png"></span>Location</a>
                <a ng-tap="$navigate.go('/wraskinterest')" class="ftr_links"><span><img src="img/ftr_icon2.png"></span> WRASK </a>
                <a ng-tap="$navigate.go('/info')" class="ftr_links"><span><img src="img/ftr_icon3.png"></span>Updates</a>
                <a ng-tap="$navigate.go('/settings')" class="ftr_links"><span><img src="img/ftr_icon4.png"></span>Settings</a>
            </div>
      </div>
    </div>