<div class="website_wrapper">
    <div class="hdr_wrapper">
        	<div class="hdr_continer">
            	<ul class="top-menu">
                    <li><a ng-tap="$navigate.go('/home')" class="home"></a></li>
                    <li><a ng-tap="$navigate.go('/myprofile')">Profile</a>  </li>
                    <li><a ng-tap="$navigate.go('/wraskit')">Wrask it</a> </li>
                    <li><a ng-tap="$navigate.go('/connects')">Connects </a> </li>
                    <li><a ng-tap="$navigate.go('/search')">Search</a> </li>
                </ul>
            </div>
        </div>
        
    <!-- loading  -->
    <div class="popup_main_new" ng-show="loading">
        <div class="popup-overlay"></div>
        <div class="cont_wrapper">
            <div class="cont_container">
                <!-- wrask interest pop up -->
                <div class="wrask_it_popup">
                    <div class="loading-msg">Loading...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading closes -->

        <div class="cont_wrapper">
            <div class="cont_container">
                <div class="table_box">
                    <div class="table_row">
                        <div class="submit_cover">
                            <div class="profile_data_txt">
                                 <form class="register_form " name="feedbackForm" ng-submit="submitForm(feedbackForm.$valid)" novalidate>
                                    <div class="popup_row">
                                        <h3> Feedback </h3>
                                        <input ng-model="email" name="email" class="field_log" type="email" Placeholder="E-Mail">
                                        <p ng-show="feedbackForm.email.$invalid && !feedbackForm.email.$pristine" class="form_error">Email is required</p>
                                        <p ng-show="feedbackForm.email.$invalid && !feedbackForm.email.$pristine" class="form_error">Invalid Email </p>
                                        
                                        <br>
                                        <textarea rows="" ng-maxlength="" cols="" placeholder="Leave your feedback" ng-model="content" name="content" required>
                                        </textarea>
                                        <p ng-show="feedbackForm.content.$invalid && !feedbackForm.content.$pristine" class="form_error">Message is required</p>
                                        <!-- <h1>Maximum 280 characters</h1> -->
                                    </div>
                                    <div class="form_field_wrapper mr-btm ">
                                        <button class="answer_btn" type="submit" ng-click="submit()">Submit<a class="btn_arrow"><img src="img/btn-right.png"></a>
                                        </button>
                                    </div>
                                 </form>
                            </div> 
                       </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="ftr_wrapper ">
        	<div class="ftr_continer">
            	<a ng-tap="$navigate.go('/location')" class="ftr_links"><span><img src="img/ftr_icon1.png"></span>Location</a>
                <a ng-tap="$navigate.go('/wraskinterest')" ng-click="pop_open()" class="ftr_links"><span><img src="img/ftr_icon2.png"></span><span>Wrask</span></a>
                <a ng-tap="$navigate.go('/info')" class="ftr_links"><span><img src="img/ftr_icon3.png"></span><span>Updates</span></a>
                <a ng-tap="$navigate.go('/settings')" class="ftr_links"><span><img src="img/ftr_icon4.png"></span><span>Settings</span></a>
                <a ng-tap="$navigate.go('/feedback')" class="ftr_links"><span><img src="img/ftr_icon5.png"></span>Feedback</a>
            </div>
        </div>
</div>