<div class="website_wrapper" autoscroll="false">
        <div class="cont_wrapper">
            <div class="cont_container">
                <div class="form_box "> 
                    <div class="form_row"><img src="img/login_logo.png">
                    </div>
                    <form class="register_form " name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                        <fieldset> 
                            
                            <div class="form_field_wrapper">
                                <input type="text" placeholder="email" name="email" ng-model="email" class="field_log" placeholder="Email" required>
                            </div>
                            
                            <div class="form_field_wrapper">
                            <button class="sign_in" type="submit" ng-click="submit"> Rest Password <a href="#" class="btn_arrow"><img src="img/btn-right.png"></a>
                            </button>
                            </div>
                        </fieldset>
                    </form>
              </div>
            </div>
      </div>
    </div>