  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
        FB.init({appId: '686103951462904', status: true, cookie: true,
        xfbml: true});
    };
    (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
        '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
    }());
  </script>
    
    <!-- loading  -->
    <div class="popup_main_new" ng-show="loading">
        <div class="popup-overlay"></div>
        <div class="cont_wrapper">
            <div class="cont_container">
                <!-- wrask interest pop up -->
                <div class="wrask_it_popup">
                    <div class="loading-msg">Loading...</div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading closes -->

<div class="website_wrapper">
        <div class="hdr_wrapper">
        	<div class="hdr_continer">
            	<ul class="top-menu">
                    <li><a ng-tap="$navigate.go('/home')" class="home"></a></li>
                    <li><a ng-tap="$navigate.go('/myprofile')">Profile</a>  </li>
                    <li><a ng-tap="$navigate.go('/wraskit')">WRASK IT</a> </li>
                    <li><a ng-tap="$navigate.go('/connects')">Connects </a> </li>
                    <li><a ng-tap="$navigate.go('/search')">Search</a> </li>
                </ul>
            </div>
        </div>
        


        <div class="cont_wrapper">
        	<div class="cont_container">
            	<div class="table_box">
                	
                    <div class="directwrasks" ng-show="showDirect">
                        <div class="table_row" ng-repeat="dwrask in directwrasks">
                            <!-- <div class="profile_box">
                            <img src="img/profile_blank.png"> {{dwrask.firstname}}
                            </div> -->
                            <div class="profile_data no_profile">
                               <div class="profile_data_txt">
                                 <p> {{dwrask.content}} </p>
                                </div> 
                                <div class="link_box">
                                    <div class="social-li">
                                    <a class="answer" ng-tap="$navigate.go('/answers/{{dwrask.id}}')">Answer</a>
                                    <a href="#" class="sc_gplus"><img src="img/gplus.png"></a>
                                    <a href="#" class="twitter"><img src="img/twitter.png"></a>
                                    <!-- <a href="#" class="facebook"><img src="img/fb_icon.png"></a> -->
                                </div>
                                <div class="view_qus">
                                 <span>{{dwrask.createDate}}</span> <span></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

                        <div class="table_row" ng-repeat="wrask in wrasks">
                            <!-- <div class="profile_cover">
                                <div class="profile_box">
                                    <a ng-tap="$navigate.go('/profile/{{wrask.user_id}}')">
                                        <img src="img/pro_pic/{{wrask.profilePic}}"> 
                                    </a> 
                                </div>
                                <p>{{wrask.firstname}}</p>
                            </div> -->
                            <div class="profile_data no_profile">
                                <div class="profile_data_txt">
                                    <p> {{wrask.content}} </p>
                                </div> 
                                <div class="link_box">
                                    <div class="social-li">
                                    <a class="answer" ng-tap="$navigate.go('/answers/{{wrask.id}}')">Answer</a>
                                    <!-- <a href="#" class="sc_gplus"><img src="img/gplus.png"></a> -->
                                    <!-- <a href="#" class="twitter"><img src="img/twitter.png"></a> -->
                                    <!-- Twitter -->
                                    <a href="http://twitter.com/share?url={{siteurl}}answers/{{wrask.qid}}&text={{wrask.content}}" class="sc_gplus" target="_blank">
                                        <img src="img/twitter.png" alt="Twitter" />
                                    </a>

                                    <a href="https://plus.google.com/share?url={{siteurl}}answers/{{wrask.qid}}&text={{wrask.content}}" class="twitter" target="_blank">
                                        <img src="img/gplus.png" alt="Google" />
                                    </a>

                                    <!-- <a ng-click="share(wrask)" class="facebook"><img src="img/fb_icon.png"></a> -->
                                    </div>
                                    <div class="view_qus">
                                     <span>{{wrask.createDate}}</span> <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- guest login pop up -->
                        <div ng-show="isGuest()">
                            <div class="wrask_it_popup">
                                <div class="popup-block">
                                    <div class="popup_head">
                                        <a ng-click="pop_close()" class="pp_close"><img src="img/pp-close.png">
                                        </a>
                                            <div ng-show="guest_login">
                                                <h1> Guest login </h1>
                                            </div>
                                            <form class="register_form " name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                                                <fieldset> 
                                                    <div class="form_field_wrapper">
                                                        <input type="text" placeholder="User Name" name="username" ng-model="username" class="field_log" required>
                                                        <!-- <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="form_error">User Name is required</p> -->
                                                    </div>
                                                    <div class="form_field_wrapper">
                                                        <input type="password" placeholder="Password" name="password" ng-model="password" class="field_log">
                                                    </div>
                                                    <div class="form_field_wrapper">
                                                        <a href="#forgot" class="login_links">Forget password ?</a>
                                                        <a href="#" class="login_links">Click here to reset</a>
                                                    </div>
                                                    <div class="form_field_wrapper">
                                                    <button class="sign_in" type="submit" ng-click="submit">Sign In <a class="btn_arrow"><img src="img/btn-right.png"></a>
                                                    </button>
                                                    </div>
                                                    

                                                    <div class="form_field_wrapper">
                                                    <button class="fb_btn">Login with facebook<a class="btn_arrow"><img src="img/btn-right.png"></a>
                                                    </button>
                                                    </div>

                                                    <div class="form_field_wrapper">
                                                    <button class="sign_in" ng-tap="$navigate.go('/register')">Register<a class="btn_arrow"><img src="img/btn-right.png"></a>
                                                    </button>
                                                    </div>

                                                </fieldset>
                                            </form>
                                            
                                        </div>
                                        <!-- wrask interest form -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- guest login pop up -->
                    
                </div>
            </div>
      </div>
      <div class="ftr_wrapper ">
        	<div class="ftr_continer">
            	<a href="#" class="ftr_links"><span><img src="img/ftr_icon1.png"></span>Location</a>
                <a ng-tap="$navigate.go('/wraskinterest')" class="ftr_links"><span><img src="img/ftr_icon2.png"></span>WRASK</a>
                <a ng-tap="$navigate.go('/info')" class="ftr_links"><span><img src="img/ftr_icon3.png"></span>Updates</a>
                <a ng-tap="$navigate.go('/settings')" class="ftr_links"><span><img src="img/ftr_icon4.png"></span>Settings</a>
                <a ng-tap="$navigate.go('/feedback')" class="ftr_links"><span><img src="img/ftr_icon5.png"></span>Feedback</a>
            </div>
      </div>
    </div>