	<div class="website_wrapper">
    <div class="hdr_wrapper">
        	<div class="hdr_continer">
            	<ul class="top-menu">
                	<li><a ng-tap="$navigate.go('/home')" class="home"></a></li>
                    <li><a ng-tap="$navigate.go('/myprofile')">Profile</a>  </li>
                    <li><a ng-tap="$navigate.go('/wraskit')">Wrask it</a> </li>
                    <li><a ng-tap="$navigate.go('/connects')">Connects </a> </li>
                    <li><a ng-tap="$navigate.go('/search')">Search</a> </li>
                </ul>
            </div>
        </div>
        <div class="cont_wrapper">
        	<div class="cont_container">
            	<div class="table_box">

                    <br>
                    <div class="form_field_wrapper">
                        <input type="text" placeholder="Type your text here...." name="searchText" ng-model="searchText" class="field_log">
                    </div>

                    <div class="table_row" ng-repeat="question in questions | filter:searchText | limitTo: 100">
                    	    <!-- <div class="profile_box ">
                        	   <img src="img/pro_pic/{{question.profilePic}}">
                            </div> -->
                            <div class="profile_data no_profile">
                            <div class="profile_data_txt">
                             <p>{{question.content}}</p>
                            </div> 
                            <div class="link_box">
                           	  
                                <div class="social-li">
                                <a class="answer" ng-tap="$navigate.go('/answers/{{question.id}}')">Answer</a>
                                <a href="#" class="sc_gplus"><img src="img/gplus.png"></a>
                                <a href="#" class="twitter"><img src="img/twitter.png"></a>
                                <a href="#" class="facebook"><img src="img/fb_icon.png"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
      </div>
      <div class="ftr_wrapper ">
        	<div class="ftr_continer">
            	<a ng-tap="$navigate.go('/location')" class="ftr_links"><span><img src="img/ftr_icon1.png"></span>Location</a>
                <a ng-tap="$navigate.go('/wraskinterest')" class="ftr_links"><span><img src="img/ftr_icon2.png"></span>Wrask</a>
                <a ng-tap="$navigate.go('/info')" class="ftr_links"><span><img src="img/ftr_icon3.png"></span>Updates</a>
                <a ng-tap="$navigate.go('/settings')" class="ftr_links"><span><img src="img/ftr_icon4.png"></span>Settings</a>
                <a ng-tap="$navigate.go('/feedback')" class="ftr_links"><span><img src="img/ftr_icon5.png"></span>Feedback</a>
            </div>
      </div>
    </div>