    <div class="website_wrapper">
        <div class="hdr_wrapper">
            <div class="hdr_continer">
                <ul class="top-menu">
                    <li><a ng-tap="$navigate.go('/home')" class="home"></a></li>
                    <li><a ng-tap="$navigate.go('/myprofile')">Profile</a>  </li>
                    <li><a ng-tap="$navigate.go('/wraskit')"> WRASK IT </a> </li>
                    <li><a ng-tap="$navigate.go('/connects')">Connects </a> </li>
                    <li><a ng-tap="$navigate.go('/search')">Search</a> </li>
                </ul>
            </div>
        </div>
        <div class="cont_wrapper">
            <div class="cont_container">
                <div class="table_box">
                    <div class="table_row">
                        <div class="submit_cover">
                            <div class="profile_data_txt">
                                 <form class="register_form " name="answerForm" ng-submit="submitForm(answerForm.$valid)" novalidate>
                                    <div class="popup_row">
                                        <h3>Type your answer here...</h3>
                                        <textarea rows="" ng-maxlength="" cols="" ng-model="answer" placeholder="answer" name="answer" required>
                                        </textarea>
                                        <!-- <h1>Maximum 280 characters</h1> -->
                                    </div>
                                    <div class="form_field_wrapper mr-btm ">
                                        <button class="answer_btn" type="submit" ng-click="submit">Submit<a class="btn_arrow"><img src="img/btn-right.png"></a>
                                        </button>
                                    </div>
                                 </form>
                            </div> 
                       </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="ftr_wrapper ">
                <div class="ftr_continer">
                    <a ng-tap="$navigate.go('/location')" class="ftr_links"><span><img src="img/ftr_icon1.png"></span>Location</a>
                    <a ng-tap="$navigate.go('/wraskinterest')" class="ftr_links"><span><img src="img/ftr_icon2.png"></span>WRASK</a>
                    <a ng-tap="$navigate.go('/info')" class="ftr_links"><span><img src="img/ftr_icon3.png"></span>Updates</a>
                    <a ng-tap="$navigate.go('/settings')" class="ftr_links"><span><img src="img/ftr_icon4.png"></span>Settings</a>
                </div>
          </div>
    </div>