  <div class="website_wrapper">
    <div class="hdr_wrapper">
          <div class="hdr_continer">
              <ul class="top-menu">
                    <li><a ng-tap="$navigate.go('/home')" class="home"></a></li>
                    <li><a ng-tap="$navigate.go('/myprofile')">Profile</a>  </li>
                    <li><a ng-tap="$navigate.go('/wraskit')">  WRASK IT </a> </li>
                    <li><a ng-tap="$navigate.go('/connects')">Connects </a> </li>
                    <li><a ng-tap="$navigate.go('/search')">Search</a> </li>
              </ul>
            </div>
        </div>
        <div class="cont_wrapper">
          <div class="cont_container">
              <div class="table_box">
                      
                      <div class="table_row" ng-repeat="user in users" id="connect_{{user.user_id}}">
                                <div class="profile_box" ng-tap="$navigate.go('/profile/{{user.user_id}}')">
                                 <img src="img/pro_pic/{{user.profilePic}}">
                                </div>
                                
                                <div class="connect_data">
                                    <div class="connect_row">
                                       <h3>{{user.firstname}} &nbsp; {{user.lastname}}</h3>
                                    </div>
                                    <div class="connect_row">
                                      <span>Followers </span><span>( {{user.count}} ) </span>
                                      <span class="connect_star"><img src="img/rating/{{user.point}}.png" title="{{user.point}}" ></span>
                                    </div>
                                </div>
                            <div class="flw_btn_box">
                            <!-- <a ng-click="connectUser({{user.user_id}})" class="follow_btn fw_gray">Disconnect</a> -->
                            <!-- <a ng-click="disconnectUser({{user.user_id}})" class="follow_btn fw_gray">Disconnect</a> -->
                            </div>
                      </div>

              </div>
          </div>
      </div>
      <div class="ftr_wrapper ">
          <div class="ftr_continer">
              <a ng-tap="$navigate.go('/location')" class="ftr_links"><span><img src="img/ftr_icon1.png"></span>Location</a>
              <a ng-tap="$navigate.go('/wraskinterest')" class="ftr_links"><span><img src="img/ftr_icon2.png"></span>WRASK</a>
              <a ng-tap="$navigate.go('/info')" class="ftr_links"><span><img src="img/ftr_icon3.png"></span>Updates</a>
              <a ng-tap="$navigate.go('/settings')" class="ftr_links"><span><img src="img/ftr_icon4.png"></span>Settings</a>
          </div>
      </div>
    </div>


